{% extends 'base.html' %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/situation.css' %}">
{% endblock %}
{% block titulo %}
    Sucesso
{% endblock %}

{% block container %}
    <header class="cabecalho">
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}">
            </a>
            <nav class="cabecalho-navegacao">
                <a href="{% url 'videos' %}">
                    Vídeos
                    <span></span>
                </a>
                <a href="{% url 'meus_dados' %}">
                    Painel
                    <span></span>
                </a>
                <a href="{% url 'logout' %}">
                    Sair
                </a>
            </nav>
        </div>
    </header>

    <header class="cabecalho-mobile">
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}">
            </a>
            <div class="botao-mobile">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <header class="cabecalho-oculto">
        <div class="botao-oculto">
            <span></span>
            <span></span>
        </div>
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}">
        </a>
        <nav>
            <a href="{% url 'videos' %}">
                Vídeos
                <span></span>
            </a>
            <a href="{% url 'meus_dados' %}">
                Painel
                <span></span>
            </a>
            <a href="{% url 'logout' %}">
                Sair
            </a>
        </nav>
    </header>

    <div class="container">
        <div>   
            <div class="situation">
                <h1>
                    Parabéns, o seu pagamento foi confirmado!
                </h1>
                <p>
                    Desfrute dos melhores vídeos agora mesmo!
                </p>
                <a href="{% url 'videos' %}">
                    <i class="fa-solid fa-eye"></i>
                    Assistir vídeos
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/cabecalho.js' %}"></script>
{% endblock %}